<nav class="navbar navbar-expand-lg">
    <div class="container-fluid pt-2 pb-2 ps-5">
        <div id="logo-container">
            <img src="../../assets/images/logo.png" class="img-fluid" alt="Looficats">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <i class='bx bx-menu'></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center pe-5">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#who-we-are">Who we are</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#services">Our Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#why-choose-us">Why Choose Us</a>
                </li>
                <button class="button-own btn--small-own">Contact Us</button>
            </ul>
        </div>
    </div>
</nav>