 section {
    background-color: #FFF;
    width: 100%;
    padding: 0px 5vw;
    margin: 0;
}

.intro {
    padding-bottom: 0em;
    background: #FDF4EE;

}


.content {
    margin-bottom: 7vh;
    padding: 0 7vw 0 0;
}

.content > span, .content > h1, .content > p {
    font-family: 'Mulish', sans-serif;
}


.content > span {
    font-size: min(80%, 12px);
    color: #2938C7;
    font-weight: 700;
}

.content > h1 {
    color: #232323;
    margin-top: 1rem;
    opacity: 89%;
    font-weight: 800;
}

.content > p {
    color: #4A4A4A;
    font-weight: 500;
    margin-top: .9rem;
}

.content > button {
    margin-top: .8rem;
}

.content > button > i {
    font-size: 14px;
}
.section__title {
    position: relative;
    width: 6em;
    height: 3em;
}

.section__title > img {
    position: absolute;
    top: 0;
}

.section__title > p {
    z-index: 5;
    text-transform: uppercase;
    color: #2938C7 !important;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 12px;
    position: absolute;
    bottom: 0 ;
    right: 0;
}
 .who > h3 {
    color: #232323;
    opacity: 89%;
    font-size: 28px;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
}

.who > span {
    color: #2938C7;
    font-weight: 700;
    font-family: 'Mulish', sans-serif;
    margin-bottom: .8em;
}

.who > p {
    font-family: 'Mulish', sans-serif;
}

#services {
    background-color: #f5f6f7;
    padding-bottom: 7em;
    flex-wrap: wrap;
}

.services-container {
    flex-wrap: wrap;
}

.container-own > p {
    color: #2938C7;
    font-weight: 700;
}

.container-own {
    font-family: 'Mulish', sans-serif;
}

.content-container > h3 {
    font-weight: 900;
    opacity: 90%;
}

.line {
    width: 40px;
    background-color: #2938C7;
    height: 1px;
}

.content-container > p {
    color: #4A4A4A;
}

.links>span {
    display: block;
    font-weight: 700;
    color: #4A4A4A;
    font-size: 12px;
    margin-top: 5px;
    cursor: pointer;
}

.title > p{
        font-family: 'Oxygen', sans-serif;
        font-size: 12px;
}

.title > h3 {
    font-family: 'Mulish', sans-serif !important;
    font-weight: 900 !important;
}


#why-choose-us {
    background-color: #1E1E1E;
    color: #FFF;
    height: auto;
    padding-bottom: 5em;
    flex-wrap: wrap;
    background-image: url('../../assets/images/world_map.png');
    opacity: 98%;
}


.why-choose-us__container {
    display: flex;
    flex-direction: column;
    position: relative;
    width:fit-content;
    padding: 5px;
    width: 13em;
    height: 13em;
}

.why-choose-us__container > span , .why-choose-us__container > i {
    z-index: 10;
    font-weight: 600;
}

.why-choose-us__container > i {
    border-radius: 50px;
    border: 1px solid #FFF;
    padding: 8px;
    position: absolute;
    bottom: 5px;
}

.trust_us > h3 {
    color: #4A4A4A !important;
}

#trust-us {
    background-color: #f5f6f7;
    padding: 5em;
}

.trust_us > p {
    color: #1E1E1E !important;
}

.brand_container > p {
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 10px;
    color: #232323;
    font-size: 12px;
    opacity: 89%;
    margin-bottom: 0;
}

.brand_container > a {
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 10px;
    font-weight: 800;
    display: flex;
    color: #3c3c3c;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    align-items: center;
}

.brand_container > a > i {
    font-size: 20px;
    margin-left: .4rem;
}

.bxl-youtube {
    color: red;
}

.bxl-instagram {
    color: #FFF;
}

.instagram {
    margin-left: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); 
}

.cotact {
    padding-bottom: 5em;
}

.contact-container {
    padding-bottom: 5em;
    border-radius: 5px;
    background: linear-gradient(90deg, #1525B4 36.53%, #2C41FD 98.78%);
    background-blend-mode: darken;
}

.header > h4{
    color: #FFF;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-weight: 800;
}

.input-item > input {
    width: 20em;
    margin-bottom: 8px;
    margin-left: 5px;
    height: 3em;
    padding-left: 1em;
    background-color: #527ffa;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-family: 'Mulish', sans-serif;
}

.input-item > input::placeholder {
    color: #fff;
}

textarea {
    width: 20em;
    height: 4em;
    padding-left: 1em;
    background-color: #527ffa;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-family: 'Mulish', sans-serif;
}

textarea::placeholder {
    color: #fff;
}

.submit-btn {
    color: #000;
    font-weight: 800;
    font-family: 'Mulish', sans-serif !important;
    font-size: 12px;
}

footer {
    background-color: #e4e4e4;
}

.description{
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
}

.links > h6 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 13px;
    font-family: 'Mulish', sans-serif;
}

.link {
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
    display: block;
    color: #000;
    text-decoration: none;
}

.tandc > a {
    text-decoration: none;
    font-size: 13px;
    color: #000;
}
